name: dockerimage #name of the workflow

on:
 workflow_call:
  secrets:
      DOCKER_USER:
        required: true
      DOCKER_PASSWORD:
        required: true
#  push:
#    branches: ["mizuho-githubaction"] #which branch to watch for changes

jobs:
  build-and-push:
   # Build & push Docker image only on push events (not PRs) and after tests
   if: github.event_name == 'push'
   runs-on: ubuntu-latest
   steps:
     - name: Checkout
       uses: actions/checkout@v4

     - name: Set up QEMU
       uses: docker/setup-qemu-action@v3

     - name: Set up Docker Buildx
       uses: docker/setup-buildx-action@v3

     - name: Log in to Docker Hub
       uses: docker/login-action@v3
       with:
         registry: docker.io
         # Ensure these secrets are defined in repository settings
         username: ${{ secrets.DOCKER_USER }}
         password: ${{ secrets.DOCKER_PASSWORD }}

     - name: Extract Docker metadata
       id: meta
       uses: docker/metadata-action@v5
       with:
         images: |
           docker.io/kevlund/sage-repo
         tags: |
           type=raw,value=test-bot,enable=${{ github.ref == 'refs/heads/mizuho-githubaction' }}
           type=sha,enable=true,format=long

     - name: Build and push Docker image
       uses: docker/build-push-action@v6
       with:
         context: .
         file: ./Dockerfile
         push: true
         tags: ${{ steps.meta.outputs.tags }}
         labels: ${{ steps.meta.outputs.labels }}
         cache-from: type=registry,ref=docker.io/kevlund/sage-repo:buildcache
         cache-to: type=registry,ref=docker.io/kevlund/sage-repo:buildcache,mode=max