name: Main Pipeline

on:
  push:
<<<<<<< HEAD
    branches: ["main"]
  pull_request:
    branches: ["main"]
=======
    branches: [ "mizuho-integration" ]
  pull_request:
    branches: [ "mizuho-integration" ]
>>>>>>> origin/mizuho-integration

env:
  DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
  MAIN_BRANCH: "main"
  SAGE_DIR: "/usr/local/sage/SageV2"

permissions:
  contents: read
  security-events: write
  actions: read

<<<<<<< HEAD
=======
permissions:
  contents: read
  security-events: write
  actions: read

>>>>>>> origin/mizuho-integration
jobs:
  node:
    uses: ./.github/workflows/node.js.yml
  test-suite:
    uses: ./.github/workflows/test-suite.yml # made by previous students, in the progress
  dockerimage:
    uses: ./.github/workflows/dockerimage.yaml # I started! docker image. cause error
    secrets:
      DOCKER_USER: ${{ secrets.DOCKER_USER }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
  automaticTesting:
<<<<<<< HEAD
    uses: ./.github/workflows/automaticTesting.yml
=======
    uses: ./.github/workflows/automaticTesting.yml 
>>>>>>> origin/mizuho-integration
