name: Main Pipeline

on:
  push:
    branches: [ "mizuho-githubaction", "Ava-branch-config" ]
  pull_request:
    branches: [ "mizuho-githubaction", "Ava-branch-config" ]

env:
  DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
  MAIN_BRANCH: 'main'
  SAGE_DIR: '/usr/local/sage/SageV2'

permissions:
  contents: read
  security-events: write
  actions: read

jobs:
  node:
    uses: ./.github/workflows/node.js.yml
  test-suite:
    uses: ./.github/workflows/test-suite.yml
  dockerimage:
    uses: ./.github/workflows/dockerimage.yaml